*{
  box-sizing:border-box ;
  margin: 0;
  padding: 0;
}

:root{
  --primarycolor:linear-gradient(to right, #000, #222c32);
  --secondarycolor:#fff;
}

body {
  /* background: linear-gradient(to right, #000, #222c32); */
  background: var(--primarycolor);
  background-color: #222c32;
  color: #ffffff;
  min-height: 100vh;
}

.dark-theme{
  --primarycolor:linear-gradient(to right, #837f7f, #222c32);
  --secondarycolor:#222c32;
}
  
  .navbar {
    margin-bottom: 2rem;
    /* background: linear-gradient(to right, #121111, #31414d); */
    background: var(--primarycolor);
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 30px;
  }
  
  .navbar-nav .nav-link.active {
    background-color: #2d4a31;
    border-radius: 30px;
    color: #fff;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #495057;
    color: #ffffff;
    border-radius: 30px;
  }


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}


.card {
  background-color: #333;
  background: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px; 
  margin: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  object-fit: contain; 
  width: 100%; 
  
}


.card-body {
  padding: 15px;
  text-align: center;
  flex-grow: 1; 
}

.card-title {
  font-size: 1rem;
  margin-bottom: 8px;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 12px;
}


.btn-primary {
  background-color: #2d4a31;
  border-color: #2d4a31;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background-color:#495057;
  border-color: #495057;
}


.card {
  min-height: 320px; 
  max-height: 320px;
}


.notification {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #ffcc00;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notification.warning {
  background-color: #f44336; 
  color: white;
}